{{ template "head.html" . }}

<body>
<style>
        .top-tip{
            color: #d20f39;
        }
    </style>
{{ template "header.html" . }}
<div class="container">
    <div class="row">
        <header class="col-md-12 tool-head"><p class="lead">JSON、编码加解密、格式化、正则、单位换算、对照速查等 150+ 款常用在线工具，全部在浏览器本地运行，免登录、不上传。</p></header>
        <p class="col-md-12 top-tip">本站所有工具均可离线运行</p>
        <div class="col-md-12 footer-nav">
            <ul class="list-inline list-inline-bg" id="usolink-history" style="display:none"></ul>
            {{ .footerNav }}

        </div>
    </div>
</div>
<script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/script/tool.js" type="text/javascript"></script>
{{ template "link.html" . }}
{{ template "footer.html" . }}

</body>
</html>