{{ template "head.html" . }}

<body>{{ template "header.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12 col10main">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <!-- <div><a href="https://www.aliyun.com/minisite/goods?userCode=eaborev5" target="_blank" rel="nofollow"><img src="http://uso.link/static/images/ali.jpg"></a></div> -->
                    {{ .siblings }}
                    <header class="tool-head">
                        <h1>网页定时自动刷新</h1>
                        <p class="lead">填入网址和间隔秒数，页面会按你设定的频率在下方的内嵌窗口里自动重新加载，并记录已刷新次数。计时在浏览器本地运行。</p>
                    </header>
                    <div class="panel">
                        <form id="form1" class="form-horizontal" action="" method="post">
                            <div class="form-group"><label class="col-sm-2 control-label"> 刷新网址： </label>
                                <div class="col-sm-10"><input class="form-control" id="url" name="url" type="text"
                                                              value="http://{$_SERVER.HTTP_HOST}"
                                                              placeholder="如：http://{$_SERVER.HTTP_HOST}" style="width: 60%;"/>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label"> 刷新频率(秒/次)： </label>
                                <div class="col-sm-10"><input class="form-control" id="frequency" type="text" value="5"
                                                              style="width: 30%;"/></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label"> 已刷新次数： </label>
                                <div class="col-sm-10"><input class="form-control" id="times" type="text" value="0"
                                                              style="width: 30%;" disabled=""/></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label"> 刷新网址： </label>
                                <div class="col-sm-10"><input type="button" id="startButton" onclick="startRefresh();"
                                                              value="开始刷新" class="btn btn-success"> <input type="button"
                                                                                                           id="endButton"
                                                                                                           onclick="endRefresh();"
                                                                                                           value="停止刷新"
                                                                                                           class="btn btn-danger"
                                                                                                           style="display: none">
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label"> </label>
                                <div class="col-sm-10">
                                    <div class="alert alert-danger alert-dismissible text-center" id="errdiv"
                                         role="alert" style="display: none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <iframe id="frame"
                                            style="width: 100%; height: 600px; padding: 10px; border: 1px solid #66be8c;"></iframe>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <article class="tool-doc">
                    <h2>怎么用</h2>
                    <p>把要刷新的网址填进“刷新网址”，再设定刷新频率（多少秒刷一次），点“开始刷新”，目标页面会在下方的内嵌窗口里按这个节奏不断重新加载，“已刷新次数”会同步累加。想停下来点“停止刷新”即可。</p>
                    <h2 class="sub">注意点</h2>
                    <p>间隔设得太短会向目标网站发出密集请求，可能给对方服务器带来压力，请只对自己的站点这样做，并把间隔设在合理范围。另外，很多网站会用 <code>X-Frame-Options</code> 等响应头禁止被嵌入到 iframe 中，遇到这种网址，下方窗口会显示空白或报错，这是对方的限制，不是工具故障。</p>
                </article>
                <div class="accordion-group"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/script/tool.js" type="text/javascript"></script>
<script src="/static/script/hightout.js"></script>
<script src="/static/script/pcjs/reload.js"></script>
{{ template "nav.html" . }}

{{ template "footer.html" . }}

</body>
</html>